@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
body {
  font-family: 'Lato', sans-serif;
}

h1 {
  /*color: whitesmoke;*/
}

.jumbotron {
  margin-top: 10px;
  margin-bottom: 1px;
  background: #cddc39;
}

nav {
  margin-top: 5px;
}

.navbar-brand {
  font-weight: 100;
  font-size: 30px;
}

h1.display-1 {
  color: #141414;
}
.bg-faded {
  background: #cddc39;
}

.form-control {
  font-family: monospace;
  font-size: 25px;
}

div.col {
  margin: 10px 100px 10px 100px;
}

p.card-text {
  font-weight: lighter;
  font-size: 23px;
  background: rgba(158, 158, 158, 0.14);
  padding: 15px;
  border-radius: 5px;
}

mark {
  font-weight: lighter;
  background: #cddc39;
}
