@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
body {
  font-family: 'Lato', sans-serif;
}

h1 {
  color: whitesmoke;
}

.jumbotron {
  margin-top: 10px;
}

nav {
  margin-top: 5px;
}

.navbar-brand {
  color: white;
  font-weight: 100;
  font-size: 30px;
}

h1.display-1 {
  color: black;
}
.bg-faded {
  background: rgba(233, 30, 91, 0.53);
}

.form-control {
  font-family: monospace;
  font-size: 25px;
}

div.col {
  margin: 10px 100px 10px 100px;
}

p.card-text {
  font-weight: lighter;
  font-size: 23px;
  background: rgba(158, 158, 158, 0.14);
  padding: 15px;
}

mark {
  font-weight: lighter;
  font-family: Consolas;
}
